<div class="container-fluid topheaderblock">
  <div class="row">
    <div class="container topheaderblockwrapper">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 topheaderblocklogo">
        <div class="toplogo">
          <a [routerLink]="['']">  <img src="../../assets/images/logo.png" alt="logo"></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 topheadercaptionblock">
        <h2>GREAT THINGS</h2>
        <h3>ARE COMING!</h3>
      </div>
     <!-- <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 topheaderblockinfo">
        <img src="../../assets/images/icon-microphone.png" alt="logo">
        <div class="topheaderblockright">
          <h2>Tentatively Launching August 15th !</h2>
        </div>
      </div>-->
    </div>
  </div>
  <div class="clearfix"></div>


</div>

<div class="container-fluid topmenublock">
  <div class="container-fluid topmenu">
    <nav class="navbar navbar-default">


      <div class="navbar-header">

        <span class="responsivemenu">MENU</span>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInDown">
        <ul class="nav navbar-nav">


          <li class="ssd lidiv0 active"><a class="dropdown-toggle" [routerLink]="['']"> home </a></li>
          <li class="ssd lidiv1 "> <a class="dropdown-toggle" [routerLink]="['/aboutaudiodeadline']" > About Audio Deadline </a></li>
          <li class="ssd lidiv2 "><a class="dropdown-toggle" [routerLink]="['/community']" > Community </a></li>
          <li class="ssd lidiv3 "><a class="dropdown-toggle" [routerLink]="['/affiliate']" > Affiliate </a></li>
          <li class="ssd lidiv4 "><a class="dropdown-toggle" [routerLink]="['/contactus']" > Contact Us </a></li>
          <li class="ssd lidiv5 "><a class="dropdown-toggle" [routerLink]="['/signup']" > RSVP for Tickets</a></li>








        </ul>


      </div>

    </nav>
  </div>

  <div class="clearfix"></div>


</div>

<div class="border1"></div>



