<div class="container-fluid footer_area">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pull-left copyrightdiv">
      <p>©2017 COPYRIGHT by Audio Deadline</p>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 pull-right footerrightdiv">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <ul class="list-inline socialmediaftlinks">
            <li class="list-inline-item"><span>Follow us on</span> <a href="https://www.facebook.com/audiodeadline/" target="_blank"><img src="../../assets/images/ft-fbicon.png"></a></li>
            <!--<li class="list-inline-item"><a href="" target="_blank"><img src="<?php /*echo get_template_directory_uri(); */?>/images/ft-gplusicon.png"></a></li>
            <li class="list-inline-item"><a href="" target="_blank"><img src="<?php /*echo get_template_directory_uri(); */?>/images/ft-twicon.png"></a></li>
            <li class="list-inline-item"><a href="" target="_blank"><img src="<?php /*echo get_template_directory_uri(); */?>/images/ft-blogicon.png"></a></li>
            <li class="list-inline-item"><a href="" target="_blank"><img src="<?php /*echo get_template_directory_uri(); */?>/images/ft-linkdinicon.png"></a></li>
-->          </ul>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 ">
          <div class="footernav">

            <ul>
              <li class="ssd lidiv0 active"><a class="dropdown-toggle" [routerLink]="['']"> home </a></li>
              <li class="ssd lidiv1 "><a class="dropdown-toggle" [routerLink]="['/aboutaudiodeadline']"> About Audio Deadline </a></li>
              <li class="ssd lidiv2 "><a class="dropdown-toggle" [routerLink]="['/community']"> Community </a></li>
              <li class="ssd lidiv3 "><a class="dropdown-toggle" [routerLink]="['/affiliate']"> Affiliate </a></li>
              <li class="ssd lidiv4 "><a class="dropdown-toggle" [routerLink]="['/contactus']"> Contact Us </a></li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>






