<app-header></app-header>
<div class="container-fluid abouttopbannerblock">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bannercontent">
        <h2>THE ULTIMATE</h2>
        <h6>INTERACTIVE</h6>
        <h2>EXPERIENCE</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid aboutblock1">
  <div class="row">

    <div class="aboutblock1wrapperimg"><img src="../../assets/images/aboutblock1left.png"></div>
    <div class="aboutblock1content">
      <h2>As the culture surrounding music evolves</h2>
      <h4>we are seeing an enhanced unification of sound. Taylor Swift can be heard on the Hip-Hop station. Turn the dial and country singers are rapping. This spark of diversity, influence, and inspiration is the essence of Audio Deadline.</h4>
      <table class="aboutblock1table">
        <tbody>
        <tr>
          <td class="aboutblock1imgwrapper"><img src="../../assets/images/homeblock2img1.png"></td>
          <td class="aboutblock1imgwrapperright"><span>We seek to unify the sound</span> of well-known and independent artists for a single song, on a single day, and filmed in single takes from multiple angles. This allows for the ultimate interactive experience that artists can share with their fans and peers.</td>
        </tr>
        </tbody>
      </table>
      <h3>While Audio Deadline is streaming live, the artists are creating their music and fans are virtually right there in the studio with them. </h3>
      <h5>Fans can laugh at their jokes and gain insight during an artist's most intimate moment. Imagine watching your favorite artist through the whole creative genius process of producing a new song!</h5>
    </div>
  </div>
</div>
<app-footer></app-footer>