<app-header></app-header>


<div class="container-fluid topbannerblock">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bannercontent">
        <h2>Audio Deadline</h2>
        <h2>is bringing the</h2>
        <h2>premier destination</h2>
        <h2>for music-lovers</h2>
        <h2>everywhere!</h2>
        <h3>This is the ultimate connection between <span>artists and fans!</span></h3>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid tophomeblock1">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="tophomeblock1imgleftwrapper">
        <img src="../../assets/images/tophomeblock1imgleft.png">
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 tophomeblock1contant">
      <h1>Flii Stylz is bringing you the Deadline!</h1>
      <table>
        <tr>
          <td class="tophomeblock1contantleft">
            <h4><span>Flii Stylz is the host of the premier Audio Deadline!</span> As a music industry executive that has worked in choreography, dance, rap, acting, and producing music, Flii has knows the business inside and out. Who better than to take you straight to the heart of music? He will provide insights to what the artists go through as they create a new piece of art. Experience the deadline with Flii as your guide! </h4>
            <h2>Be right there with Flii as music history is made!</h2>
            <a href="http://fliistylz.com/" class="visitfllistyle" target="_blank">Visit Flii Stylz</a>

          </td>
          <td class="tophomeblock1contantright">
            <div class="tophomeblock1contantimgwrapper">
              <img src="../../assets/images/tophomeblock1contantimg.jpg">
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="container-fluid tophomeblock2">
  <div class="tophomeblock2layer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tophomeblock2rightbg">
        <div class="tophomeblock2content">
          <h2><strong>Be Part</strong> of the Magic of <span>Music !</span></h2>
          <h4>The Deadline takes you straight into the studio with your favorite artists and gives them a deadline to come up with a completely new song in just 8 hours!</h4>
          <h5>Imagine being able to experience the magic of your favorite artists creating a brand new hit. See what goes into creating a new tune with collaboration, inspiration, and the musical genius of the hottest singers on the scene.</h5>
          <h3>This is a one-of-a-kind music experience!</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid homeblock1">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 homeblock1rightbg">
      <div class="homeblock1content">
        <h2>EXPERIENCE YOUR FAVORITE ARTIST <span>LIKE NEVER BEFORE?</span></h2>

        <div class="homeblock1rightbgcontent">
          <div class="row row-eq-height">
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
              <img src="../../assets/images/homeblock1img1.png">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
              <blockquote>
                Have you ever wanted to go behind the scenes to witness firsthand what happens during a live studio recording session?
                <span>From the first key played, all the way to the final take, Audio Deadline brings you behind-the-scenes to show viewers what it takes to make a hit single in one sitting.</span>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid homeblock2">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="homeblock2content">
        <h2>THIS IS A ONE-OF-A-KIND SOCIAL MUSIC-COMMUNITY EXPERIENCE!</h2>
        <table class="homeblock2table">
          <tr>
            <td class="homeblock2imgwrapper"><img src="../../assets/images/homeblock2img1.png"></td>
            <td><span>Audio Deadline</span> functions as a portal destination, live event, and population lab. We get mainstream artists to collaborate for an 8-hour studio session and stream it as a live event for paying consumers. The new song, just created, is available for purchase and immediately downloadable after the studio session.</td>
          </tr>
        </table>
        <h3>The <span>Audio Deadline</span> portal will become the premier destination for music lovers everywhere!</h3>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid homeblock3">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="homeblock3content">
        <h2>BE PART OF INDUSTRY HISTORY!</h2>
        <span class="hr"></span>
        <p>We seek to unify the sound of well-known and independent artists for a single song, on a single day, and filmed in single takes from multiple angles. The result of this unification will be immediately available for <span>download, worldwide</span>. You can now be part of the creative and competitive spirit within the music industry. </p>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
